.mam{
    color: darkorange;
    font-weight: bold;
}
.errorResponse{
    background-color: red;
    font-weight: bold;
}
.validResponse{
    background-color: aliceblue;
    //font-weight: bold;
}
h1{
    font-weight: bolder;
}
h2{
    text-align:center;
}
